*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.container{
    max-width: 900px;
    margin: auto;
    
}


.page[size="A4"] {
    margin-top: 50px;
    width: 21 cm;
    height: 29.7cm;
    overflow-x: hidden ;
    background-color: white;
    border: 2px solid black;
}

.header {
    display: flex;
    margin: 30px;
    text-align: center;
    
}
.school_name{
    color: darkslateblue;
}

.school_info{
    color: darkkhaki;
}

.school_stamp{
  
   
    height: 183px;
    width: 20%;
    border: 1px solid black;
}

.textfield {
    
    border: 1px solid black;

    flex-grow: 1;
    height: 183px;
    
}

.student_image {
   
    border: 1px solid black;

    height: 183px;
    width: 20%;
}

.schoolcontainer{
    margin-top: 15px;
}

.student_details_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 15px;
   
}

.student_data_left {
  
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}

.student_data_right {
  
    text-align: center;
    border: 1px solid black;
    padding: 5px;
   
    border-right: none;
    border-bottom: none;
    
}

.regclass_container {
    display: flex;
}

.regclass_item {
    border: 1px solid black;
    flex-grow: 1;
    padding: 5px;
}

.table1_container{
    margin: 30px;
}

.table_heading{
    color: darkslateblue;
}

table, th, td{
    border-collapse: collapse;
    text-align: center;
    
}

.overall_container{
    display: flex;
    margin: 30px;
    
}

.overall_item{
    flex-grow: 1;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    background-color: beige;
}



.chart_container {
    display: flex;

    margin: 30px;
    flex-grow: 1;
   
}

.marks_chart{
    width: 450px;
    position: relative;
}









.labels {
    
    display: flex;
    flex-grow: 1;

    flex-direction: column ;
    gap: 10px;
    justify-content: center;
   
    
}




.excellent {
    width: 30px;
    height: 30px;
    background-color: green;
    
    
}

.good {
    width: 30px;
    height: 30px;
    background-color: blue;
    
    
}

.need_improvements {
    width: 30px;
    height: 30px;
    background-color: red;
    
    
} 


.ex_container{
    display: flex;
}

.gd_container{
    display: flex;
}

.red_container{
    display: flex;
}

.last_table{
    margin: 30px;
}


.footer{
    
    height: 80px;
    display: flex;
    margin: 30px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    
}

.parent{
    text-align: center;
    width: 150px;
}

.teacher{
    text-align: center;
    width: 150px;
}

.principle {
    text-align: center;
    width: 150px;
}
